<h1>Welcome to Pets world!</h1>
<h3>Here you can do...</h3>
<%= link_to 'Show the pet\'s condition that I looking for', customer_path(@current_user) %> <br>
<%= link_to 'See all the pets', pets_path %> <br>
